:root {

    --main-bg-color: #02020A;
    --my-red: #9E0D0D; 
    --table-bg-color: #29339bb2;
    --table-border-color: #29339B;

}

body {
    background-color: var(--main-bg-color);
    color: white;
}

.account-container {

    /* background-color: red; */
    width: 100%;
}

.account{
    background-color: var(--table-bg-color);
    width: 40%;
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow: 1px 2px 4px white; */
    /* margin-bottom: 10px; */
    /* padding: 5px; */
}

.account a {
    color: white;
}

.image {
    width: 60px;
}

.control-icon {
    width: 30px;
}

main {
    /* max-width: 80vh; */
    gap: 50px;
    /* background-color: red; */
    /* overflow: scroll; */
    overflow-y: scroll;
    max-height: 70vh;
    /* border: 1px solid white; */
}

@media screen and (max-width: 530px) {
    .control-icon {
        width: 20px;
    }
/* 
    main {
        flex-direction: column;
    } */
    .account {
        width: 70%;
    }
}

@media screen and (max-width: 420px) {
    
    main{
        /* background-color: green; */
        flex-direction: column;
        gap: 20px;
    }

    .new-account-icon{
        width: 30px;
    }

    .account {
        width: 80%;
    }

}