:root {
    --main-bg-color: #02020A;
    --my-red: #9E0D0D; 
    --table-bg-color: #A7ADC6;
    --table-border-color: #29339B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: white;
}

nav {
    color: white;
    display: block;
}

.nav {
    margin-top: 8px;
    gap: 24px;
}

ul {
    border-bottom: 1px solid white;
}

li {
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}

li:hover {
    transform: scale(1.2);
    color: var(--my-red);
}

main {
    min-height: 90vh;
}

.image {
    width: 60px;
}

@media screen and (max-width: 700px) {

    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        font-size: 0.8em;
        gap: 5px;
        border: none;
        margin-bottom: 8px;
    }

    li {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    header {
        margin-bottom: 24px;
    }
    .nav-link-mobile {
        text-decoration: none;
        color: white;
        padding: 8px;
    }
}